/* ******** IMPORTS ******** */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/* ******** GENERAL RESET ******** */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ******** VARIABLES ******** */
:root {
    /* WIDTH & HEIGHT */
    --max-width: 900px;

    --header-height: 4rem;
    --footer-height: 2rem;

    /* COLORS */
    --header-footer-color: lightslategray;
}

/* ******** GENERAL SETTINGS ******** */
body {
    height: 100vh;
    width: 100vw;

    font-family: Helvetica, Arial, sans-serif;
}

/* ******** UTILITIES ******** */
.container {
    max-width: var(--max-width);
    height: 100%;
    margin: 0 auto;
}

/* ******** STYLING MAIN-SECTIONS ******** */
#header {
    height: var(--header-height);
    width: 100%;
    border-bottom: 1px solid black;

    background-color: var(--header-footer-color);

    /* Setting z-index to show box-shadow */
    position: relative;
    z-index: 10;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
}

#main {
    height: calc(100vh - var(--header-height) - var(--footer-height));
    width: 100%;

    background-color: whitesmoke;
}

#footer {
    height: var(--footer-height);
    width: 100%;
    border-top: 1px solid black;

    background-color: var(--header-footer-color);

    /* Setting z-index to show box-shadow */
    position: relative;
    z-index: 10;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.6);
}

/* ******** STYLING ******** */
/* ***** HEADER START ***** */
.header-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
/* LOGO STYLING START */
.logo-container {
    position: relative;
}

.logo-icon {
    position: absolute;
    top: -1.3125rem;
    left: 0;
    z-index: 1;

    font-size: 7rem;
    color: lavender;
}

.logo-title {
    position: absolute;
    top: 0.5rem;
    left: 0;
    z-index: 2;

    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 1.75rem;
    line-height: 1.5rem;
    color: #000;
}

.logo-title:hover {
    cursor: default;
}
/* LOGO STYLING END */

/* FORM STYLING START */
.form-container {
    /* POSITIONING IN THE MIDDLE COLUMN */
    grid-column-start: 2;

    display: flex;
    align-items: center;
    justify-content: center;
}

#header-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-form-input {
    width: 15rem;
    height: 2rem;
    padding-left: 0.5rem;
    border: 1px solid black;
    margin-right: 2px;

    font-size: 1.2rem;
}

#header-form-input:focus {
    outline: 2px solid coral;
 }

#header-form-btn {
    width: 3rem;
    height: 2rem;
    border: 1px solid black;

    background-color: lavender;
}

#header-form-btn:hover {
    cursor: pointer;
}

#header-form-btn:focus {
    outline: 2px solid coral;
 }
/* FORM STYLING END */
/* ***** HEADER END ***** */